Teorica/*
/Pratica/Resolucoes/Ficha 6/Exercício 1/nbproject/private/
/Pratica/Resolucoes/Ficha 6/Exercício 1/build/
/Pratica/Resolucoes/Ficha 7/pp_fp07/nbproject/private/
/Pratica/Resolucoes/Ficha 7/pp_fp07/build/
/Pratica/Resolucoes/Ficha 7/pp_fp07/dist/
/Pratica/Resolucoes/Ficha 7/Parte 2/nbproject/private/
/Pratica/Resolucoes/Ficha 7/Parte 2/build/
nbproject/private/
build/
dist/